@import "../styles/variables";

@import "../styles/mixins";

.login {
  @include maxVhVw;

  &__wrapper {
    width: 1194px;
    height: 542px;
  }

  &__bg {
    background: url("../images/background/login-background.jpg") no-repeat center center fixed;

    @include sign-background;
  }

  &__active-part {
    width: 50%;

    @include sign-active-part;
  }

  &__button {
    @include sign-btn;
  }

}

