@import "../../styles/variables";

.login {
  height: 100vh;
  width: 100vw;

  &__wrapper {
    width: 1194px;
    height: 542px;
  }

  &__bg {
    border-radius: $border-radius-primary;
    height: 100%;
    width: 100%;
    background: url("../../images/background/login-background.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    box-shadow: $box-shadow;
  }

  &__active-part {
    position: absolute;
    right: 0;
    display: inline-block;
    backdrop-filter: $backdrop-filter;
    background: rgba(255, 255, 255, 0.33);
    height: 100%;
    width: 50%;
    border-radius: 0 22px 22px 0;
    padding: 20px;
  }

}

