@import "../../../static/styles/variables";
@import "../../../static/styles/mixins";


.profile {
  @include maxVhVw;

  &__wrapper {
    width: 1200px;
    height: 700px;
  }

  &__bg {
    background: url("../../../static/images/background/profile-background.jpg") no-repeat center center fixed;

    @include sign-background;
  }

  &__active-part {
    width: 70%;

    @include sign-active-part;
  }

  &__avatar {
    width: 140px;
    height: 140px;
    position: relative;
    margin-right: 20px;

    @include avatar;

    &_wrapper {
      margin-bottom: 40px;
    }
  }

  &__name {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
  }

  &__form {
    position: absolute;
    width: 500px;
    @include horizontal-center();
  }

  &__info {
    border: $border;
    height: 48px;
    width: 240px;
    border-radius: $border-radius-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: white;

    @include text-normal;
  }

  &__back-link {
    position: absolute;
    bottom: 10%;
  }

  &__button {
    @include sign-btn;

    &_save {
      margin: 0 auto;
    }
  }
}
