@import "../../../static/styles/variables";

@import "../../../static/styles/mixins";


.registration {
  @include maxVhVw;

  &__wrapper {
    width: 1361px;
    height: 700px;
  }

  &__bg {
    background: url("../../../static/images/background/registration-background.jpg") no-repeat center center fixed;

    @include sign-background;
  }

  &__active-part {
    width: 80%;

    @include sign-active-part;
  }

  &__form {
    width: 800px;
    margin: 0 auto;
  }

  &__button {
    @include sign-btn;
  }
}