@import "../../styles/style";

.chat {
  background-image: url("../../images/background/chat-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  &__user {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    height: 90px;
    width: 100%;
    border-radius: $border-radius-secondary;
    padding: 10px;
    cursor: pointer;
    display: grid;
    position: relative;
    grid-template-areas: "avatar name name  name time"
                         "avatar message message  message notification";
    transition: background 0.2s ease;
    &:hover {
      background: #FFFFFF;
    }

    &__avatar {
      @include avatar();
      grid-area: avatar;
      background-image: url("../../images/avatar/test-avatar.jpg");
      margin: auto auto;
    }

    &__name {
      grid-area: name;
      @include text-normal;
      font-size: 18px;
    }

    &__message {
      grid-area: message;
      @include text-normal;
      font-size: 14px;
      color: #858585;
    }

    &__time{
      @include text-normal;
      font-size: 14px;
      text-align: center;
      grid-area: time;
      position: absolute;
      top: 0;
      right: 0;
    }

    &__notification{
      grid-area: notification;
      background-color: #5E81FF;
      border-radius: 100%;
      height: 25px;
      width: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include text-normal;
      font-size: 14px;
      color: #FFFFFF;
      position: absolute;
      right: 0;
      bottom: 0;
    }

  }
}

.bg-blur {
  backdrop-filter: $backdrop-filter;
  display: block;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  margin: 5px;
  border-radius: $border-radius-primary;
  padding: 20px;
}

.user-info {
  &__avatar {
    @include avatar();
    background-image: url("../../images/avatar/test-avatar.jpg");
    margin-right: 10px;
    margin-bottom: 30px;
  }
  &__name{
    @include text-normal;
    font-size: 18px;
  }
}