* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #2B5CDA;
  padding: 0;
  margin: 0;
}

.chat {
  background-image: url("./images/chat-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.bg-blur {
  backdrop-filter: blur(7px);
  display: block;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  margin: 5px;
  border-radius: 22px;
  padding: 20px;
}

.avatar {
  border-radius: 100%;
  background-color: grey;
  width: 60px;
  height: 60px;
}

.flex{
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

