@import "variables";

.button {
  box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
  border-radius: 13px;
  cursor: pointer;

  &_small {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    height: 48px;
    width: 48px;
  }

  &_big {
    border: 0;
    color: #FFFFFF;
    height: 60px;
    width: 360px;
    background: $color-primary;
    transition: .2s ease;

    &:hover {
      background: #5570e8;
    }
  }
}

.link-button {
  text-decoration: none;
}

.link {
  color: white;
  transition: .2s ease;

  &:hover {
    text-decoration: none;
  }
}

.icon {
  width: 24px;
  height: 24px;
  transition: .2s ease;
}

.button_small:hover .icon {
  transform: rotate(20deg);
}

.custom-file-upload:hover .icon {
  transform: rotate(20deg);
}