@import "variables";

@import "mixins";

.custom-text-input {
  background: #FFFFFF;
  height: 48px;
  width: 240px;
  border: $border;
  box-shadow: $box-shadow;
  border-radius: $border-radius-secondary;
  padding: 15px;
  transition: 0.2s ease;

  &:focus {
    border: 1px solid $color-primary;
    outline: none;
  }

  &_error {
    background: #FFC6C6;
  }

  &__error-message {
    color: #FFC6C6;
    margin-top: 5px;
    font-size: 12px;
  }
}

.custom-file-upload {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 13px;
  cursor: pointer;
  width: 50px;
  height: 48px;

  & input {
    display: none;
  }
}