@import "button";
@import "utils";
@import "variables";
@import "mixins";
@import "inputs";
@import "fonts";

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #2B5CDA;
  padding: 0;
  margin: 0;
}