.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-item-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.direction-column {
  flex-direction: column;
}

.align-item-end {
  align-items: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.mr-1 {
  margin-right: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.w-100 {
  width: 100% !important;
}