.flex{
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-item-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.icon {
  width: 24px;
  height: 24px;
}