$border-radius-primary: 22px;
$border-radius-secondary: 13px;


$backdrop-filter: blur(80px);

$box-shadow: 0 2px 20px rgba(0, 0, 0, .1);


$border: 1px solid #FFFFFF;


$color-primary: #6182ff;
$color-secondary: #57B09B;
$color-primary-hover: #5570e8;